/* body {
    background-color: #FFD1D1;
} */

#main {
    margin-top: 1rem;
}

/* Sidebar  */
#sidebar-icons {
    white-space: nowrap;
    overflow-x: auto;

}

#sidebar-icons img {
    width: 4rem;
    background-color: #CDF0EA;
    padding: 0.5rem;
    border-radius: 1rem;
}

#sidebar-icons img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 991px) {
    #primary-container {
        padding: 0;
    }

    #tnhbLogo {
        width: 100%;
        height: auto;
    }

    #tnhbLogoContainer {
        width: 60%;
        height: auto;
    }

    #nav-toggle {
        padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    }

    /* .navbar-nav {
        padding-left: 1rem;
    } */

    #offcanvas-body {
        max-height: 15%;
        padding: 0;
    }

    #sidenav-content {
        background-color: #F6F6F6;
        margin: 1rem 1rem 0 1rem;
        border-radius: 0.5rem;
        padding: 1rem;
    }

}

@media screen and (min-width: 576px) and (max-width: 991px) {

    #primary-container {
        max-width: 100vw;
    }

    #main {
        max-width: 100%;
    }

}


@media screen and (min-width: 992px) {
    #primary-container {
        max-width: 70%;
        /* background-color: aqua; */
        padding: 0;
    }

    /* #offcanvasResponsive {
        background-color: blue;
    } */

    #tnhbLogoContainer {
        padding: 0;
        width: 30%;
    }

    /* #navbar {
        background-color: #A084CA;
    } */

    /* #main {
        background-color: greenyellow;
    } */

    #sidebar-container {
        width: 30%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        overflow-x: hidden;
        /* background-color: #FFD1D1; */
    }

    #sidenav-content {
        background-color: #F6F6F6;
        margin: 1rem 1rem 0 1rem;
        border-radius: 0.5rem;
        padding: 1rem;
    }

}

@media screen and (min-width: 1685px) {
    .scrollmenu {
        width: 100%;
        letter-spacing: 1rem;
    }

}